@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #323232;
}

.content-font {
  font-family: "Lato", sans-serif;
}
